p {
  margin-top: 0px;
  font-size: 11.25pt;
  letter-spacing: 0.63px;
}

.disclaimer {
  margin-top: 18px;
  text-align: center;
  font-size: 9pt;
  color: #858585;
  letter-spacing: 0.21px;
}

small {
  font-size: 9pt;
}

h5 {
  margin-top: 0px;
  margin-bottom: 14px;
  font-size: 10.5pt;
  letter-spacing: 0.60px;
  color: #7c7c7c;
}

@font-face {
  font-family: "Roboto-Black";
  src: url("Roboto/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("Roboto/Roboto-Regular.ttf");
}

.txt-center {
  text-align: center;
}

h1.breathes {
  margin-bottom: 0px;
}

.wip {
  display: none;
}

.wait {
  display: none;
}

.processing .wait {
  display: block;
  text-align: center;
}

.processing .interaction {
  display: none;
}

.error {
  display: none;
}

.failed .error {
  display: block;
}

.success {
  display: none;
}

.successful .success {
  display: block;
}

.login {
  display: none;
}

.logged .login {
  display: block;
}

.empty {
  display: none;
}

.nodata .empty {
  display: block;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grows {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.scrolls {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

.breathes {
  padding: 42px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inset {
  padding: 0px 18px;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.95;
}

.fab {
  padding: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 64px;
  height: 64px;
  background: #924f97;
  border-radius: 50%;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 18px;
  right: 18px;
  color: white;
  font-size: 28px;
  border: none;
  -webkit-transition: 0.3s -webkit-box-shadow;
  transition: 0.3s -webkit-box-shadow;
  transition: 0.3s box-shadow;
  transition: 0.3s box-shadow, 0.3s -webkit-box-shadow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fab.secondary {
  top: 175px;
  background: rgba(109, 142, 131, 0.32);
}

.fab.secondary img {
  position: relative;
  bottom: -4px;
}

.fab:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px -3px 10px #c5c5c5;
          box-shadow: 0px -3px 10px #c5c5c5;
}

.fab:active {
  cursor: pointer;
  -webkit-box-shadow: 0px -3px 2px black;
          box-shadow: 0px -3px 2px black;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.pulse {
  -webkit-box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
          box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

.pulse:hover {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

#splash {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  z-index: 1000;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background: white;
}

#splash img {
  display: block;
}

#splash footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 18px;
  font-size: 12px;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

#splash footer a {
  color: white;
  font-weight: bold;
}

#splash.hiding {
  opacity: 0;
}

#splash.hidden {
  display: none;
  z-index: -1000;
}

#shell {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  width: 100vw;
  position: relative;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

@media (min-width: 600px) {
  #shell {
    width: 400px;
    height: calc( 100vh - 64px);
    margin: auto;
    -webkit-box-shadow: 0px 0px 30px;
            box-shadow: 0px 0px 30px;
  }
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 244px;
  height: 100vh;
  color: white;
}

#menu header {
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  height: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20px;
}

#menu header p {
  font-family: "Roboto-Black";
}

#menu nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

#menu ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0px;
  margin: 0px;
}

#menu ul li {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

#menu .i {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  margin-right: 10px;
  position: relative;
}

#menu footer {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  text-align: center;
  padding: 20px;
  font-size: 6.75pt;
}

#menu li.login {
  display: none;
}

.logged #menu li.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navigator {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@media (min-width: 600px) {
  #navigator {
    width: 400px;
    height: calc( 100vh - 64px);
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 999;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  background-color: #f5f5f5;
}

.page.showing {
  z-index: 1001;
}

.page.show {
  opacity: 1;
}

.page.hiding {
  z-index: 1000;
}

#navigator[data-page='welcome'] #welcomePage {
  z-index: 1000;
}

#navigator[data-page='onboarding'] #onboardingPage {
  z-index: 1000;
}

#navigator[data-page='map'] #mapPage {
  z-index: 1000;
}

#navigator[data-page='route'] #routePage {
  z-index: 1000;
}

#navigator[data-page='reports'] #reportsPage {
  z-index: 1000;
}

#navigator[data-page='notifications'] #notificationsPage {
  z-index: 1000;
}

#navigator[data-page='user'] #userPage {
  z-index: 1000;
}

#navigator[data-page='phones'] #phonesPage {
  z-index: 1000;
}

#navigator[data-page='partners'] #partnersPage {
  z-index: 1000;
}

#navigator[data-page='opinion'] #opinionPage {
  z-index: 1000;
}

#navigator[data-page='rate'] #ratePage {
  z-index: 1000;
}

#navigator[data-page='preferences'] #preferencesPage {
  z-index: 1000;
}

#navigator[data-page='logout'] #logoutPage {
  z-index: 1000;
}

#navigator[data-page='report-edit'] #reportEditPage {
  z-index: 1000;
}

#navigator[data-page='thanks'] #thanksPage {
  z-index: 1000;
}

#navigator[data-page='report-view'] #viewReportPage {
  z-index: 1000;
}

#navigator[data-page='area-select'] #areaSelectPage {
  z-index: 1000;
}

#navigator[data-page='login'] #loginPage {
  z-index: 1000;
}

#navigator[data-page='register'] #registerPage {
  z-index: 1000;
}

#navigator[data-page='error'] #errorPage {
  z-index: 1000;
}

#navigator[data-page='route-map'] #routeMapPage {
  z-index: 1000;
}

header {
  height: 56px;
  background: #924f97;
  color: white;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header button {
  height: 56px;
  width: 56px;
  background: transparent;
  border: none;
}

header button:focus {
  background: rgba(255, 255, 255, 0.1);
}

header h1 {
  font-family: "Roboto-Black";
  font-size: 9.75pt;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  letter-spacing: 6.90px;
  text-align: center;
}

header h2 {
  font-family: "Roboto";
  font-size: 12pt;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  letter-spacing: 0.60px;
  text-align: left;
  font-weight: 400;
}

.tabs {
  height: 62px;
  background: #924f97;
  color: white;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.tabs button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: transparent;
  border: none;
  opacity: 0.6;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.tabs button[active] {
  opacity: 1;
  border-top: 1px solid #ffffff;
}

.tab-title {
  background: white;
  padding: 10px;
  color: #7c7c7c;
  text-align: center;
  text-transform: uppercase;
}

card {
  padding: 22px;
  border-bottom: 1px solid #dddddd;
  display: block;
}

card[hero] {
  padding: 50px;
  text-align: center;
}

card[hero] p {
  font-family: "Roboto-Black";
  font-size: 9pt;
  letter-spacing: 0.60px;
  color: #7c7c7c;
  margin-bottom: 12px;
}

card[hero] h3 {
  font-family: "Roboto-Regular";
  font-size: 18.75pt;
  letter-spacing: 0.28px;
  color: #7c7c7c;
  font-weight: normal;
  margin: 0px 0px 8px;
}

card[hero] address {
  font-size: 9pt;
  letter-spacing: 0.21px;
  color: #b4b4b4;
  font-family: "Roboto-Regular";
  font-weight: normal;
  margin-bottom: 0px;
}

.inset card {
  margin-bottom: 18px;
  background: white;
  padding: 18px;
  border-bottom: 0px;
  -webkit-box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.02);
}

card address {
  font-family: "Roboto-Black";
  font-style: normal;
  color: #969696;
  margin-bottom: 10px;
}

card p {
  color: #7c7c7c;
  margin-bottom: 0px;
}

card[chevron] {
  padding-right: 60px;
  background-image: url(img/chevron.png);
  background-repeat: no-repeat;
  background-position: right;
}

card date {
  display: block;
  font-size: 9pt;
  font-family: "Roboto-Regular";
  margin-top: 10px;
  color: #b4b4b4;
}

form {
  padding: 32px 0px 18px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form label {
  font-family: "Roboto-Medium";
  font-size: 9.75pt;
  color: #7c7c7c;
  display: block;
  font-weight: 700;
  margin-bottom: 12px;
}

form label.input,
form textarea,
form select,
form input {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px;
  border: 1px solid #d6d6d6;
  width: 100%;
  margin-bottom: 28px;
  font-family: "Roboto-Regular";
}

form label.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin-bottom: 18px;
}

form label.input img {
  margin-left: 5px;
}

form label.input input {
  padding: 13px 10px;
  border: 0px;
  margin-bottom: 0px;
}

form input[name='geocode'] {
  margin-bottom: 0px;
}

form hr {
  border: 0;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 28px;
}

form button {
  background: #924f97;
  border: 0;
  color: white;
  padding: 25px;
  display: block;
  width: 100%;
  font-family: "Roboto-Black";
  font-size: 9.75pt;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  letter-spacing: 3.20px;
  text-align: center;
  text-transform: uppercase;
}

form .btn-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 18px;
}

form .btn-radio button {
  background: #eaeaea;
  padding: 15px 0px;
}

form .btn-radio button[on] {
  background: #d4d4d4;
}

form input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

preference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

preference label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 11.25pt;
  color: #7c7c7c;
  letter-spacing: 0.26px;
  font-family: 'Roboto-Regular';
}

#preferencesPage small {
  display: block;
  margin-top: 20px;
  color: #858585;
  font-family: 'Roboto-Regular';
  font-size: 9pt;
  letter-spacing: 0.21px;
}

switch {
  display: block;
  width: 40px;
  height: 26px;
  background: url(img/switch-off.png);
}

switch[on] {
  background: url(img/switch-on.png);
}

check {
  display: block;
  width: 19px;
  height: 19px;
  background-image: url(img/check.svg);
  background-position: top left;
}

check[on] {
  background-position: top right;
}

.special {
  background-image: url(img/special.svg);
  background-position: top center;
  background-repeat: no-repeat;
  padding: 64px 32px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.special .cont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.special .cont .space {
  display: block;
  height: 50px;
  display: block;
}

.special .cont button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px 5px 20px;
  background: #924f97;
  border: 0;
  color: white;
  font-family: "Roboto-Regular";
  font-size: 9.75pt;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  letter-spacing: 3.20px;
  text-align: center;
  text-transform: uppercase;
}

.special .menina {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.special .menina img {
  position: absolute;
  bottom: -77px;
}

.special.left .menina img {
  right: -58px;
}

.special.left .cont {
  text-align: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.special.right .cont {
  text-align: right;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.special.right .menina img {
  left: -58px;
}

.special .cont p strong {
  font-size: 22px;
  letter-spacing: 1px;
}

#registerPage form h1 {
  margin: 28px;
  color: white;
  text-align: center;
  font-size: 9.75pt;
  font-family: "Roboto-Black";
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

#loginPage form input,
#registerPage form input {
  background-color: rgba(255, 255, 255, 0.42);
  border: 0;
  margin-bottom: 8px;
  color: white;
}

#loginPage form input::-webkit-input-placeholder,
#registerPage form input::-webkit-input-placeholder {
  color: white;
}

#loginPage form input:-ms-input-placeholder,
#registerPage form input:-ms-input-placeholder {
  color: white;
}

#loginPage form input::-ms-input-placeholder,
#registerPage form input::-ms-input-placeholder {
  color: white;
}

#loginPage form input::placeholder,
#registerPage form input::placeholder {
  color: white;
}

#loginPage form input:focus,
#registerPage form input:focus {
  outline: 1px solid white;
}

#loginPage form button[type='submit'],
#registerPage form button[type='submit'] {
  margin-bottom: 8px;
}

#loginPage form button[type='button'],
#registerPage form button[type='button'] {
  background: transparent;
}

#loginPage .wait,
#registerPage .wait {
  color: white;
}

#loginPage .error,
#registerPage .error {
  padding: 10px;
  margin-bottom: 8px;
  text-align: center;
  background-color: #ff0052;
  color: white;
}

#registerPage small {
  display: block;
  color: white;
}

#registerPage small a {
  text-decoration: none;
  color: inherit;
}

.modal {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.9);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: -2000;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: z-index 0s, opacity 0.4s 0.1s;
  transition: z-index 0s, opacity 0.4s 0.1s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.modal h2 {
  margin-top: 0px;
}

.modal button {
  background: #924f97;
  border: 0;
  color: white;
  padding: 25px;
  display: block;
  font-family: "Roboto-Black";
  font-size: 9.75pt;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  letter-spacing: 3.20px;
  text-align: center;
  text-transform: uppercase;
}

.modal.show {
  z-index: 2000;
  opacity: 1;
}

toast {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: black;
  color: wheat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-transition: bottom 0.4s;
  transition: bottom 0.4s;
}

toast span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 10px 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

toast button {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 0;
  border-left: 1px solid #191919;
  padding: 10px 16px;
  background: #080808;
  color: yellow;
  text-transform: uppercase;
}

toast[hidden] {
  bottom: -90px;
}

#routeEndPoints {
  background: white;
  padding-bottom: 18px;
}

#routeEndPoints .error {
  color: red;
  padding: 20px;
  text-align: center;
}

#routeEndPoints input {
  padding: 12px 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}

#routeEndPoints label.input:first-child {
  margin-bottom: 18px;
}

#routeEndPoints label.input:last-child {
  margin-bottom: 0px;
}

.map.loading > div {
  opacity: 0;
}

#map {
  background-image: url(img/clock.svg);
  background-position: center 45%;
  background-repeat: no-repeat;
  background-size: 64px;
}

.offline #map {
  background-image: url(img/no-firebase.svg);
  background-size: 50%;
}

#report-edit-map {
  height: 160px;
  margin-bottom: 28px;
  background-color: #e7e7e7;
  background-image: url(img/clock.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 64px;
}

#report-view-map {
  height: 160px;
  margin-bottom: 28px;
  background-color: #e7e6e7;
  background-image: url(img/clock.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 64px;
}

#reportsPage .tab-title {
  margin-bottom: 18px;
}

.empty {
  padding: 64px;
  text-align: center;
  font-size: 32px;
  color: gray;
}

.empty small {
  display: block;
}

.cat {
  display: none;
  position: absolute;
  bottom: 30px;
  right: 100px;
  left: 18px;
  font-size: 18px;
  line-height: 22px;
  color: gray;
}

.cat img {
  position: relative;
  bottom: -2px;
}

.show-cat .cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#area {
  margin: 18px auto;
  text-align: center;
  letter-spacing: 3px;
  color: #7c7c7c;
}

#area .down-arrow {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-image: url(img/caret-down.png);
}

#viewReportPage p {
  color: #7c7c7c;
  font-size: 11.25pt;
  letter-spacing: 0.26px;
  line-height: 1.25em;
}

#viewReportPage small {
  display: block;
  color: #b4b4b4;
  font-size: 9pt;
  letter-spacing: 0.21px;
  margin-bottom: 18px;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto-Regular', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  height: 100vh;
}

@media (min-width: 600px) {
  body {
    background: url(img/bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.deco {
  background-color: #fad295;
  background: linear-gradient(135deg, #fad295 0%, #f145a9 36%, #115b84 100%) !important;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc( 100vw + 244px);
  height: 100vh;
  -webkit-transform: translateX(-244px);
          transform: translateX(-244px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  overflow: hidden;
}

@media (min-width: 600px) {
  #app {
    width: 645px;
    height: calc( 100vh - 64px);
  }
}

#shell.drag #app {
  -webkit-transition: -webkit-transform 0s;
  transition: -webkit-transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
}

#app[menu-open] {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

#app.modal-over #navigator {
  -webkit-filter: blur(6px);
          filter: blur(6px);
}
