$app_primary_color: #924f97;

$txt_main_color: #7c7c7c;
$txt_info_color: #b4b4b4;

$error_bg: #ff0052;
$error_txt: white;

$space: 18px;

$desktopShellWidth: calc( 100vw - 128px );
$desktopShellHeight: calc( 100vh - 128px );
