form
{

  padding: 32px 0px $space;
  width: 100%;
  box-sizing: border-box;

  label
  {
    font-family: "Roboto-Medium";
    font-size: 9.75pt;
    color: #7c7c7c;
    display: block;
    font-weight: 700;
    margin-bottom: 12px;
  }

  label.input,
  textarea,
  select,
  input
  {
    display: block;
    box-sizing: border-box;
    padding: 13px;
    border: 1px solid #d6d6d6;
    width: 100%;
    margin-bottom: 28px;
    font-family: "Roboto-Regular";
  }

  label.input
  {
    display: flex;
    align-items: center;
    padding: 0px;

    img
    {
      margin-left: 5px;
    }

    input
    {
      padding: 13px 10px;
      border: 0px;
      margin-bottom: 0px;
    }

  }

  input[name='geocode']
  {
    margin-bottom: 0px;
  }

  hr
  {
    border: 0;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 28px;
  }

  button
  {
    background: $app_primary_color;
    border: 0;
    color: white;
    padding: 25px;
    display: block;
    width: 100%;

    font-family: "Roboto-Black";
    font-size: 9.75pt;
    flex-grow: 1;
    letter-spacing: 3.20px;
    text-align: center;
    text-transform: uppercase;

  }

}

preference
{

  display: flex;
  align-items: center;

  label
  {
    flex-grow: 1;
    font-size: 11.25pt;
    color: #7c7c7c;
    letter-spacing: 0.26px;
    font-family: 'Roboto-Regular';
  }

}

#preferencesPage small
{
  display: block;
  margin-top: 20px;
  color: #858585;
  font-family: 'Roboto-Regular';
  font-size: 9pt;
  letter-spacing: 0.21px;
}

switch
{
  display: block;
  width: 40px;
  height: 26px;
  background: url(img/switch-off.png);
}

switch[on]
{
  background: url(img/switch-on.png);
}

check
{
  display: block;
  width: 19px;
  height: 19px;
  background-image: url( img/check.svg );
  background-position: top left;
}

check[on]
{
  background-position: top right;
}
