.wip
{
  display: none;
}

.wait
{
  display: none;
}

.processing .wait
{
  display: block;
  text-align: center;
}

.processing .interaction
{
  display: none;
}

.error{ display: none; }
.failed .error{ display: block; }

.login{ display: none; }
.logged .login{ display: block; }

.empty{ display: none; }
.nodata .empty{ display: block; }

.justify-center
{
  justify-content: center;
}

.grows
{
  flex-grow: 1;
}

.scrolls
{
  flex-shrink: 1;
  overflow: auto;
}

.breathes
{
  padding: 42px;
}

.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inset
{
  padding: 0px $space;
}


button:focus
{
  outline: none;
}

button:hover
{
  cursor: pointer;
  opacity: 0.95;
}




.fab
{
  padding: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 64px;
  height: 64px;
  background: #924f97;
  border-radius: 50%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 18px;
  right: 18px;
  color: white;
  font-size: 28px;
  border: none;
  transition: 0.3s box-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fab.secondary
{
  top: 175px;
  background: rgba(109, 142, 131, 0.32);
  img
  {
    position: relative;
    bottom: -4px;
  }
}

.fab:hover
{
  cursor: pointer;
  box-shadow: 0px -3px 10px #c5c5c5;
}

.fab:active
{
  cursor: pointer;
  box-shadow: 0px -3px 2px black;
  transform: scale(0.95);
}


// pulse: https://codepen.io/olam/pen/zcqea

.pulse {
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); }
  70% { box-shadow: 0 0 0 10px rgba(204,169,44, 0); }
  100% { box-shadow: 0 0 0 0 rgba(204,169,44, 0); }
}
