@import "constants";
@import "typography";
@import "ui";
@import "splash";
@import "shell";
@import "menu";
@import "navigator";
@import "navigator-pages";
@import "header";
@import "tabs";
@import "card";
@import "form";
@import "special";
@import "auth";
@import "modal";
@import "custom";

body
{
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto-Regular';

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;

  @media (min-width: 600px)
  {
    background: url( img/bg.jpg ) no-repeat;
    background-position: center;
    background-size: cover;
  }

}


.deco
{
  background-color: #fad295;
  background: linear-gradient(135deg, #fad295 0%,#f145a9 36%,#115b84 100%) !important;
}





#app
{
  display: flex;
  width: calc( 100vw + 244px );
  height: 100vh;
  transform: translateX(-244px);
  transition: transform 0.5s;
  overflow: hidden;

  @media (min-width: 600px)
  {
    width: 645px;
    height: $desktopShellHeight;
  }
}

#shell.drag #app
{
  transition: transform 0s;
}


#app.menu-open
{
  transform: translateX(0px);
}

#app.modal-over #navigator
{
  filter: blur(6px);
}
