
#routeEndPoints
{
  background: white;
  padding-bottom: $space;

  .error
  {
    color: red;
    padding: 20px;
    text-align: center;
  }

  input
  {
    padding: 12px 0px 10px;
    box-sizing: border-box;
    font-size: 15px ;
  }

  label.input:first-child
  {
    margin-bottom: $space;
  }

  label.input:last-child
  {
    margin-bottom: 0px;
  }

}

.map.loading > div
{
  opacity: 0;
}

#map
{
  background-image: url(img/clock.svg);
  background-position: center 45%;
  background-repeat: no-repeat;
  background-size: 64px;
}

.offline #map
{
  background-image: url(img/no-firebase.svg);
  background-size: 50%;
}

#report-edit-map
{
  height: 160px;
  margin-bottom: 28px;
  background-color: #e7e7e7;
  background-image: url(img/clock.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 64px;
}

#report-view-map
{
  height: 160px;
  margin-bottom: 28px;
  background-color: #e7e6e7;
  background-image: url(img/clock.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 64px;
}

#reportsPage .tab-title
{
  margin-bottom: $space;
}

.empty
{
  padding: 64px;
  text-align: center;
  font-size: 32px;
  color: gray;

  small{ display: block; }

}

.cat
{
  display: none;

  position: absolute;
  bottom: 30px;
  right: 100px;
  left: $space;
  font-size: 18px;
  line-height: 22px;
  color: gray;

  img
  {
    position: relative;
    bottom: -2px;
  }

}

.show-cat .cat{ display: flex; }

#area
{
  margin: $space auto;
  text-align: center;
  letter-spacing: 3px;
  color: #7c7c7c;

  .down-arrow
  {
    display: inline-block;
    width: 8px;
    height: 5px;
    background-image: url(img/caret-down.png);
  }

}

#viewReportPage p
{
  color: #7c7c7c;
  font-size: 11.25pt;
  letter-spacing: 0.26px;
  line-height: 1.25em;
}

#viewReportPage small
{
  display: block;
  color: #b4b4b4;
  font-size: 9pt;
  letter-spacing: 0.21px;
  margin-bottom: $space;
}
