
#navigator[data-page='welcome'] #welcomePage{ z-index: 1000; }
#navigator[data-page='onboarding'] #onboardingPage{ z-index: 1000; }
#navigator[data-page='map'] #mapPage{ z-index: 1000; }
#navigator[data-page='route'] #routePage{ z-index: 1000; }
#navigator[data-page='reports'] #reportsPage{ z-index: 1000; }
#navigator[data-page='notifications'] #notificationsPage{ z-index: 1000; }
#navigator[data-page='user'] #userPage{ z-index: 1000; }
#navigator[data-page='phones'] #phonesPage{ z-index: 1000; }
#navigator[data-page='partners'] #partnersPage{ z-index: 1000; }
#navigator[data-page='opinion'] #opinionPage{ z-index: 1000; }
#navigator[data-page='rate'] #ratePage{ z-index: 1000; }
#navigator[data-page='preferences'] #preferencesPage{ z-index: 1000; }
#navigator[data-page='logout'] #logoutPage{ z-index: 1000; }
#navigator[data-page='report-edit'] #reportEditPage{ z-index: 1000; }
#navigator[data-page='thanks'] #thanksPage{ z-index: 1000; }
#navigator[data-page='report-view'] #viewReportPage{ z-index: 1000; }
#navigator[data-page='area-select'] #areaSelectPage{ z-index: 1000; }
#navigator[data-page='login'] #loginPage{ z-index: 1000; }
#navigator[data-page='register'] #registerPage{ z-index: 1000; }
#navigator[data-page='error'] #errorPage{ z-index: 1000; }
